<div class="row">
  <div class="col-md-4">
     <ul>
      <li>Amstrad CPC</li>
      <li>Arcade</li>
      <ul>
        <li>FB Alpha</li>
        <li>MAME</li>
      </ul>
      <li>Atari</li>
        <ul>
          <li>2600</li>
          <li>5200</li>
          <li>Jaguar</li>
          <li>Lynx</li>
          <li>ST/STE/TT/Falcon</li>
        </ul>
     <li>Bandai Wonderswan</li>
     <li>Commodore</li>
     <ul>
      <li>C128</li>
      <li>C64</li>
      <li>PLUS4</li>
      <li>VIC20</li>
     </ul>
     </ul>
  </div>
  <div class="col-md-4">
    <ul>
      <li>DOS</li>
      <li>GCE Vectrex</li>
      <li>Handheld Electronic</li>
      <li>Magnavox Odyssey 2</li>
      <li>MSX / SVI / ColecoVision / SG-1000</li>
      <li>NEC</li>
        <ul>
          <li>PC Engine</li>
          <li>PC Engine SuperGrafx</li>
          <li>PC-98</li>
          <li>PC-FX</li>
        </ul>
      <li>Nintendo</li>
      <ul>
        <li>DS</li>
        <li>Game Boy Color</li>
        <li>Game Boy Advance</li>
        <li>NES</li>
        <li>N64</li>
        <li>SNES</li>
        <li>Virtual Boy</li>
      </ul>
    </ul>
  </div>
  <div class="col-md-4">
    <li>ScummVM</li>
    <li>Sega</li>
      <ul>
        <li>Dreamcast</li>
        <li>Genesis / Megadrive</li>
        <li>Saturn</li>
        <li>Sinclair ZX 81</li>
        <li>SNK Neo Geo Pocket</li>
        <li>Sony</li>
        <ul>
          <li>PlayStation</li>
          <li>PlayStation Portable</li>
        </ul>
        <li>Uzebox</li>
        <li>3DO</li>
      </ul>
    <li>Sharp X68000</li>
  </div>
</div>
