<div class="alert alert-danger">
  <strong>Disclaimer :</strong>
  Neither the libretro team nor myself are responsible in case something happens to your console. This includes battery calibration desynchronization, LCD damage or even full brick. You have been warned.
</div>

<div class="alert alert-danger">
  <p><strong>Disclaimer :</strong> using Lakka on your console <br>WILL</b> cause <br>battery issues</br> when coming back to Horizon.</p>
  <p><b>Your console will shut down before reaching 0%</b>, usually between 40% and 15%. You will be unable to charge it back to its true 100%, and it will continue to shut down prematurely.</p>
  <p><b>There is no know software fix yet.</b> The only know fix involves opening the console to unplug the battery connector.</p>
  <p><b>IF YOU DON'T WANT TO DEAL WITH THIS : BACK OFF NOW - DO NOT USE LAKKA - WAIT FOR A SOFTWARE FIX</b></p>
</div>
