<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
	       <li><a href="{{ "/installation.html" | prepend: site.baseurl }}">Install</a></li>
	       <li><a href="{{ "/update.html" | prepend: site.baseurl }}">Update</a></li>
	       <li><a href="{{ "/faq.html" | prepend: site.baseurl }}">FAQ</a></li>
               <li><a href="{{ "/docs/home/" | prepend: site.baseurl }}">Documentation</a></li>
	       <li><a target="_blank" href="http://www.lakka.tv/doc/FAQ/"><i class="fa fa-external-link" aria-hidden="true"></i> Official Lakka documentation&nbsp;&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></li>
	       <!--<li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1criEgfpKh8ZFaXJ3ZtM3nJdtjaNpd-ERGEVIZVt3_dE/edit?usp=sharing">Games compatibility&nbsp;&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></li>-->

		    <!--<li {% if page.sectionid=='blog' %} class="active" {% endif %}><a href="{{ site.posts.first.url | prepend: site.baseurl }}">Blog</a></li>-->
            </ul>
            <div class="navbar-right">
                <!--<form class="navbar-form navbar-left">
                    <div class="form-group has-feedback">
                        <input id="search-box" type="text" class="form-control" placeholder="Search...">
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </form>-->
		<ul class="nav navbar-nav">
                    <li><a href="{% include download_link.html %}"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                </ul>
		<ul class="nav navbar-nav">
                    <li><a target="_blank" href="https://discordapp.com/invite/VZDWqXU "><i class="fab fa-discord" aria-hidden="true"></i></a></li>
                </ul>
		<ul class="nav navbar-nav">
                    <li><a target="_blank" href="https://twitter.com/natinusala"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a target="_blank" href="https://github.com/lakka-switch"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!--<div class="container">
	<div class="alert alert-info">
		Do you want to see N64 games running at full speed ? Then contribute to the parallel-n64 ARM64 DYNAREC bounty <a href="https://www.bountysource.com/issues/63766562-write-an-arm64-dynarec" target="_blank">right here</a> !
	</div>
</div>-->
