<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <span><img src="{{site.baseurl}}/img/logonav.png"></span> {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
	       <li><a href="{{ "/installation.html" | prepend: site.baseurl }}">Install</a></li>
	       <li><a href="{{ "/update.html" | prepend: site.baseurl }}">Update</a></li>
	       <li><a href="{{ "/faq.html" | prepend: site.baseurl }}">FAQ</a></li>
               <li><a href="{{ "/docs/home/" | prepend: site.baseurl }}">Documentation</a></li>
	       <li><a target="_blank" href="http://www.lakka.tv/doc/FAQ/">Official Lakka documentation&nbsp;&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></li>
	       <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1criEgfpKh8ZFaXJ3ZtM3nJdtjaNpd-ERGEVIZVt3_dE/edit?usp=sharing">Games compatibility&nbsp;&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></li>

		    <!--<li {% if page.sectionid=='blog' %} class="active" {% endif %}><a href="{{ site.posts.first.url | prepend: site.baseurl }}">Blog</a></li>-->
            </ul>
            <div class="navbar-right">
                <!--<form class="navbar-form navbar-left">
                    <div class="form-group has-feedback">
                        <input id="search-box" type="text" class="form-control" placeholder="Search...">
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </form>-->
		<ul class="nav navbar-nav">
                    <li><a target="_blank" href="https://natinusala.cheats-inc.org/natinusala/lakka-switch/archives/"><i class="fa fa-file-archive-o" aria-hidden="true"></i></a></li>
                </ul>
		<ul class="nav navbar-nav">
                    <li><a target="_blank" href="https://twitter.com/natinusala"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a target="_blank" href="https://github.com/lakka-switch"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container">
	<div class="alert alert-info">
		Do you like Lakka ? Would you like to see Dolphin (GameCube and Wii emulator) running on it ? Would like to support the project ? Say no more ! A bounty has been made to encourage developers to port Dolphin to a libretro core. Any donations are appreciated ! <a href="https://www.bountysource.com/issues/58967981-bounty-update-dolphin-core-and-port-it-to-arm64" target="_blank">Click here to participate to the bounty.</a>
	</div>
</div>
